<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
    <h1 style="text-align: center; color: darkgreen;">Django проект</h1>
    <p style="text-align: center; color: darkgreen;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, qui iure id eos ea voluptatum ipsa eligendi aspernatur ipsum numquam temporibus facere tempora corrupti, a, totam itaque nisi officia at.</p>
    <img style="margin-left: 600px;" src="https://theclevercompany.se/media/blog/article/image/1565645489-django-logo.gif.0x760_q85.jpg" alt="" width="300px" height="300px">
</body>
</html>